.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: auto;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-body {
    margin-top: 220px
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.filter-by {
    width: 50vw;
    max-width: 200px;
}

.posts-list,
.create-post {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-summary-wrapper {
    padding-bottom: 20px;
    width: 100%;
}

.post-summary .post-stats {
    padding-right: 5px;
    padding-top: 10px;
    text-align: left;
}

.post-summary {
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}

.post-summary-header {
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}

.post-author {
    color: black;
    margin-bottom: 0;
}

.post-summary .post-stats {
    color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
}

.post-summary .post-stats p {
    margin-bottom: 0;
}

.post-summary:hover .post-stats p {
    color: white;
}

.post-summary:hover .post-summary-header p {
    color: white;
}

.post-summary .post-title {
    font-size: 18px;
}

.post-summary .author {
    color: rgb(28, 28, 28);
}

.post-summary .time-stamp,
.votes,
.comments-count {
    font-size: 12px;
}

.post-summary button {
    margin-right: 20px;
    cursor: pointer;
}

.post-detail {
    border: 1px solid lightgray;
}

.post-detail-body {
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
}

.post-detail-head {
    text-align: left;
}

.post-detail-author {
    font-size: 25px;
    color: #3ff;
}

.post-detail-timestamp,
.post-summary-timestamp,
.comment-time {
    color: darkgrey;
}

.post-detail-content {
    padding-top: 20px;
    text-align: left;
}

.post-detail-comments {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
}

.comment-summary {
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-author,
.post-title {
    font-size: 20px;
    color: #3ff;
}

.comment-body {
    padding: 10px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.add-comment input {
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    padding: 20px;
}